
footer {

    padding: 65px 0 80px 0;

    background-color: mediumaquamarine;

    > div {

        margin: 0 auto;

        width: max-content;

    }

    img {

        height: 34px;

    }

    .text-links {

        margin: {

            top: 37px;

            bottom: 82px;

        }

        font-size: 18px;

        width: 296px;

        display: flex;

        justify-content: space-between;

    }

    .media-links {

        width: 165px;

        display: flex;

        justify-content: space-between;

        img {

            width: 20px;

            height: 20px;

        }

    }

}