
footer {

    padding: 65px 0 80px 0;

    background-color: mediumaquamarine;

    > div {

        margin: 0 auto;

        width: max-content;

    }

    img {

        height: 34px;

    }

    .footer-logo {

        filter: brightness(0.3) sepia(1) hue-rotate(120deg) saturate(6);

    }

    .text-links {

        margin: {

            top: 37px;

            bottom: 82px;

        }

        font-size: 18px;

        width: 296px;

        display: flex;

        justify-content: space-between;

        > a {

            color: hsl(168, 34%, 41%);

            &:hover {

                color: white;

            }

        }

    }

    .media-links {

        width: 165px;

        display: flex;

        justify-content: space-between;

        img {

            width: 20px;

            height: 20px;

        }

        > a:hover img {

            filter: brightness(8);

        }

    }

}