@use "breakpoints" as bs;

header {

    background: url("./images/mobile/image-header.jpg") center / cover no-repeat;

    height: 143.2vw;

    color: white;

    > {

        h1, img {

            display: block;

            margin: 0 auto;

            width: max-content;

        }

        h1 {

            margin-top: 41.33vw;

            font-size: 2rem;

            font-family: Fraunces;

            font-weight: bold;

        }

        img {

            position: absolute;

            height: 31vw;

            width: 10.133vw;

            top: 76.8vw;

            left: calc(50vw - 5.066vw);

        }

        nav {

            display: flow-root;

            * {

                display: inline-block;

            }

            .bubble {
                
                float: right;

                width: max-content;

            }            

            .navbar-contact-link {

                color: black;
        
                background-color: white;
        
                padding: 15px;
        
                width: 140px;
        
                font-size: 18px;
        
                font-family: Fraunces;
        
                text-align: center;
        
            }

        }

    }

}

.nav-hamburger {

    display: none;

}

@media (max-width: bs.$desktop-start) {

    .bubble {

        background-color: white;

        position: absolute;

        width: 330px;

        top: 105px;
        
        right: 25px;

        text-align: center;        

        > div {

            width: 100%;

            color: gray;

        }

        .navbar-contact-link {

            background-color: yellow;

        }

    }

    .bubble-arrow {

        position: absolute;

        top: 80px;

        right: 25px;

        border: 50px solid transparent;

        border-right: 50px solid white;
    }

    .nav-hamburger {

        display: block;

        float: right;

    }

}