@use "breakpoints" as bs;

@use "base" as *;

@mixin header-background($path) {

    background: url("#{$path}/image-header.jpg") center / cover no-repeat;

}

header {

    @include header-background($path: $desktop-img-path);

    height: 55.55vw;

    color: white;

    > {

        h1 {

            position: absolute;

            top: 13.7vw;

            width: 100%;

            font-size: 3.809vw;

            font-family: Fraunces;

            font-weight: bold;

            letter-spacing: 0.75vw;

            text-align: center;

            line-height: 12.533vw;

        }

        img {

            position: absolute;

            height: 116.25px;

            width: 38px;

            top: 24.79vw;

            left: calc(50vw - 19px);

        }

        nav {

            display: flow-root;

            position: relative;

            padding: 2.291vw 3.263vw 0 2.777vw;

            * {

                display: inline-block;

            }

            .nav-logo {

                position: absolute;

                width: 11.805vw;

                left: 2.777vw;

                top: 3.125vw;

            }

            .bubble {
                
                float: right;

                width: max-content;

            }            

            .navbar-contact-link {

                color: black;
        
                background-color: white;
        
                padding: 15px;
        
                width: 140px;
        
                font-size: 18px;
        
                font-family: Fraunces;
        
                text-align: center;
        
            }

        }

    }

}

.nav-hamburger {

    display: none;

}

@media (max-width: bs.$desktop-start) {

    .bubble {

        background-color: white;

        position: absolute;

        width: 330px;

        top: 105px;
        
        right: 25px;

        text-align: center;        

        z-index: 1;

        > div {

            width: 100%;

            color: gray;

        }

        .navbar-contact-link {

            background-color: yellow;

        }

    }

    .bubble-arrow {

        position: absolute;

        top: -25px;

        right: 0px;

        border: 25px solid transparent;

        border-right: 25px solid white;

    }

    .nav-hamburger {

        display: block;

        float: right;

    }

    header {

        @include header-background($path: $mobile-img-path);

        height: 143.2vw;

        > {

            nav {

                padding: 30px 25px;

                > .nav-logo {

                    position: initial;

                    width: auto;

                }

            }
            
            h1 {

                top: 39vw;

                font-size: 9.955vw;

                letter-spacing: 2vw;

            }

            img {

                top: 76.8vw;
    
            }

        }

    }

}