
@mixin learn-more-link($bg-color: black, $bg-color-active: white) {

    position: relative;

    padding: 0 9px;

    left: 30px;

    & > div {

        position: absolute;

        height: 10px;

        width: 100%;

        bottom: -3px;

        left: 0;

        border-radius: 5px;

        background-color: $bg-color;

        z-index: -1;

    }

    &:hover > div {

        background-color: $bg-color-active;

    }
}

.learn-more-link {
    
    &-transform {

        @include learn-more-link($bg-color: yellow, $bg-color-active: gold);
    
    }

    &-stand-out {

        @include learn-more-link($bg-color: magenta, $bg-color-active: red);

    }

}