@use "breakpoints" as bp;

$line-items: "transform", "stand-out", "photography", "graphic-design",
             "gallery-cone", "gallery-milkbottles", "gallery-orange", "gallery-sugar-cubes";

$mobile-img-path: "./images/mobile";

$desktop-img-path: "./images/desktop";


@mixin line-item($bg-image: none) {

    background: {

        size: cover;

        position: center top;

        repeat: no-repeat;

        image: if($bg-image, url($bg-image), null);

    }

}

.line-group {

    &, &-1, &-2, &-3, &-4 {

        display: flex;

        flex-wrap: wrap;

        > div {

            width: 100vw;

        }

    }

    &-1 {

        > div {

            font-size: 1.24vw;

            h2 {

                font-size: 2.75vw;

            }

            a {

                font-family: Fraunces;

                font-size: 1.15vw;

                font-weight: bold;

                color: black;

            }
        }

    }

    &, &-1 {

        > div {

            height: 83.2vw;

        }

    }

    &-2 > div {

        height: 600px;

    }

    &-3 {

        height: 1260px;

        justify-content: space-around;

        outline: 1px solid green;

        > {

            h4, div {

                text-align: center;

            }

            h4 {

                width: 100vw;

            }

        }

    }

    &-4 > div {

        width: 50%;

        height: 50vw;

    }

}

.line-item {

    @each $item in $line-items {

        &-#{$item} {

            @include line-item("#{$mobile-img-path}/image-#{$item}.jpg");

        }

    }

}

@media (min-width: bp.$desktop-start) {

    .line-item-transform {

        order: 1;

    }

    .line-group, .line-group-1 {

        &, &-2 {

            > div {
    
                width: 49vw;
    
            }
    
        }
    
        & > div {
    
            height: 41.67vw;
    
        }

        &-3 {

            height: 780px;

            > div {

                flex: 0 0 20vw;

            }

        }

        &-4 > div {
            
            width: 25%;

            height: 30.83vw;

        }

    }

    .line-item {

        @each $item in $line-items {

            &-#{$item} {

                @include line-item("#{$desktop-img-path}/image-#{$item}.jpg");

            }

        }

    }

}