@use "breakpoints" as bp;

$line-items: "transform", "stand-out", "photography", "graphic-design",
             "gallery-cone", "gallery-milkbottles", "gallery-orange", "gallery-sugar-cubes";

$mobile-img-path: "./images/mobile";

$desktop-img-path: "./images/desktop";


@mixin line-item($bg-image: none) {

    background: {

        size: cover;

        position: center top;

        repeat: no-repeat;

        image: if($bg-image, url($bg-image), null);

    }

}

.line-group {

    &-1, &-2, &-3, &-4 {

        display: flex;

        flex-wrap: wrap;

        > div {

            width: 100vw;

        }

    }

    &-1, &-2 {

        > div {

            display: flex;

            flex-flow: column nowrap;

            justify-content: center;

            align-items: center;

        }

    }

    &-1 {

        > div {

            text-align: center;

            font-size: 17.74px;

            padding: 0 8vw 0 8vw;

            height: 83.2vw;

            h2 {

                font-size: 31.875px;

                line-height: 37.5px;

                max-width: 280px;

            }

            p {

                margin: 24.375px 0 26.25px 0;

                max-width: 400px;

            }

            a {

                font-family: Fraunces;

                font-size: 16.87px;

                font-weight: bold;

                color: black;

            }
        }

        .line-item-info {

            height: 116.266vw;

            p {

                color: hsl(232, 10%, 55%);

            }
        
        }

    }

    &-2 {

        > div {

            padding: 0 6.4vw 0 6.4vw;

            text-align: center;

            height: 600px;

            font-size: 15.75px;

            h3 {

                font-size: 28.12px;

                margin: 371.25px 0 28.5px 0;

            }

            p {

                max-width: 460px;

            }

        }

        .line-item-graphic-design * {

            color: hsl(167, 40%, 24%);

        }

        .line-item-photography * {

            color: hsl(198, 62%, 26%);

        }

    }

    &-3 {

        height: 1260px;

        justify-content: space-around;

        align-content: flex-start;

        padding-top: 59px;

        img {

            margin-bottom: 32px;

            width: 74px;

        }

        p {

            line-height: 33px;

        }

        .testimonial-name {

            font-family: Fraunces;

            font-weight: bold;

            font-size: 18px;

        }

        .testimonial-role {

            font-size: 14px;

            line-height: 0;

            color: hsl(210, 4%, 67%);

        }

        .testimonial {

            margin-top: 60px;

            width: 330px;

            > p {

                color: hsl(213, 9%, 39%);

            }

        }

        > {

            .lg3-hd, div {

                text-align: center;

            }

            .lg3-hd {

                width: 100vw;

                font-size: 17px;

                letter-spacing: 4px;

                color: hsl(210, 4%, 67%);

            }            

        }

    }

    &-4 > div {

        width: 50%;

        height: 50vw;

    }

}

.line-item {

    @each $item in $line-items {

        &-#{$item} {

            @include line-item("#{$mobile-img-path}/image-#{$item}.jpg");

        }

    }

}

@media (min-width: bp.$desktop-start) {

    .line-item-transform {

        order: 1;

    }

    .line-group {

        &-1, &-2 {

            > div {
    
                width: 49vw;
    
            }
    
        }
    
        &-1 > {

            div {

                text-align: initial;

                align-items: flex-start;

                font-size: min(1.6vw, 17.85px);

                height: 41.67vw;

                padding: 20px 6vw 0 11.458vw;

                line-height: min(2.7vw, 31.68px);

            }

            .line-item-info {

                height: initial;

                h2 {

                    font-size: min(3vw, 39.6px);

                    line-height: min(4vw, 3rem);

                    max-width: initial;

                }

                p {

                    margin: 2.2vw 0 2.8vw 0;

                    max-width: initial;

                }

                a {

                    font-size: min(1.5vw, 16.56px);

                }

            }

        }

        &-2 {

            > div {

                padding: 0 13vw;

                font-size: min(1.5vw, 15.84px);

                h3 {

                    font-size: min(3vw, 28.8px);

                    margin: 348px 0 28.8px 0;

                }

            }

        }

        &-3 {

            height: auto;

            justify-content: center;

            padding: 157px 0 154px 0;

            column-gap: 2.778vw;

            img {

                margin-bottom: 57px;

            }

            .testimonial-name {

                margin-top: 64px;

            }

            .testimonial {

                margin-top: 79px;

                width: 348px;

            }

            > {

                .lg3-hd {

                    font-size: 21px;

                    letter-spacing: 5px;

                }            

            }

        }

        &-4 > div {
            
            width: 25%;

            height: 30.83vw;

        }

    }

    .line-item {

        @each $item in $line-items {

            &-#{$item} {

                @include line-item("#{$desktop-img-path}/image-#{$item}.jpg");

            }

        }

    }

}