@use "base" as *;

@use "line-item" as *;

.page-header {

    background: url("../images/mobile/image-header.jpg") center center no-repeat;

}

.attribution {

    font-size: 11px; text-align: center;

}

.attribution a {

    color: hsl(228, 45%, 44%);

}