@font-face {
  font-family: "Barlow";
  src: url("./fonts/BarlowSemiBold.eot");
  src: url("./fonts/BarlowSemiBold.eot") format("embedded-opentype"), url("./fonts/BarlowSemiBold.woff2") format("woff2"), url("./fonts/BarlowSemiBold.woff") format("woff"), url("./fonts/BarlowSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Fraunces";
  src: url("./fonts/FrauncesBlack.eot");
  src: url("./fonts/FrauncesBlack.eot") format("embedded-opentype"), url("./fonts/FrauncesBlack.woff2") format("woff2"), url("./fonts/FrauncesBlack.woff") format("woff"), url("./fonts/FrauncesBlack.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Fraunces";
  src: url("./fonts/FrauncesBold.eot");
  src: url("./fonts/FrauncesBold.eot") format("embedded-opentype"), url("./fonts/FrauncesBold.woff2") format("woff2"), url("./fonts/FrauncesBold.woff") format("woff"), url("./fonts/FrauncesBold.ttf") format("truetype");
  font-weight: normal;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Barlow;
}

body > * {
  outline: 1px solid red;
}

.line-group, .line-group-2, .line-group-3, .line-group-4, .line-group-reverse {
  display: flex;
}
.line-group > div, .line-group-2 > div, .line-group-3 > div, .line-group-4 > div, .line-group-reverse > div {
  width: 100vw;
}
.line-group, .line-group-2, .line-group-3, .line-group-4 {
  flex-wrap: wrap;
}
.line-group-reverse {
  flex-wrap: wrap-reverse;
}
.line-group > div, .line-group-reverse > div {
  height: 83.2vw;
}
.line-group-2 > div {
  height: 600px;
}
.line-group-3 {
  height: 1260px;
  justify-content: space-around;
  outline: 1px solid green;
}
.line-group-3 > h4, .line-group-3 > div {
  text-align: center;
}
.line-group-3 > h4 {
  width: 100vw;
}
.line-group-4 > div {
  width: 50%;
  height: 50vw;
}

.line-item {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(none);
}
.line-item-transform-img {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-transform.jpg");
}
.line-item-stand-out-img {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-stand-out.jpg");
}
.line-item-graphic-design {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-graphic-design.jpg");
}
.line-item-photography {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-photography.jpg");
}
.line-item-milkbottles {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
}
.line-item-orange {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-gallery-orange.jpg");
}
.line-item-cone {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-gallery-cone.jpg");
}
.line-item-sugar-cubes {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
}

@media (min-width: 600px) {
  .line-group > div, .line-group-2 > div, .line-group-reverse > div, .line-group-reverse-2 > div {
    width: 49vw;
  }
  .line-group > div, .line-group-reverse > div {
    height: 41.67vw;
  }
  .line-group-3, .line-group-reverse-3 {
    height: 780px;
  }
  .line-group-3 > div, .line-group-reverse-3 > div {
    flex: 0 0 20vw;
  }
  .line-group-4 > div, .line-group-reverse-4 > div {
    width: 25%;
    height: 30.83vw;
  }

  .line-item-transform-img {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-transform.jpg");
  }
  .line-item-stand-out-img {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-stand-out.jpg");
  }
  .line-item-graphic-design {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-graphic-design.jpg");
  }
  .line-item-photography {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-photography.jpg");
  }
  .line-item-milkbottles {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
  }
  .line-item-orange {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-gallery-orange.jpg");
  }
  .line-item-cone {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-gallery-cone.jpg");
  }
  .line-item-sugar-cubes {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./images/desktop/image-gallery-sugar-cubes.jpg");
  }
}
.page-header {
  background: url("../images/mobile/image-header.jpg") center center no-repeat;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
